[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "bundle/vim-jinja"]
	path = bundle/vim-jinja
	url = git://github.com/mitsuhiko/vim-jinja.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
